@import '/node_modules/highlight.js/styles/atom-one-dark.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.bg-gallery-caption-text {
    background: linear-gradient(0deg, #000000b3, #0000004d 70%, #0000);
}

.bg-gallery-caption-text a {
    color: var(--tw-prose-links);
    text-decoration: underline;
    font-weight: 500
}

.heading-permalink {
    visibility: hidden;
}

.dropdown:focus-within .dropdown-menu {
    @apply block;
}
